<section class="sidebar">
    <div class="sidebar-inner">
       <ul class="show">
         <li class="sidebar-item">
           <a href="{% url 'dashboard' %}"><i class="material-icons-outlined"> dashboard </i></a>
         </li>
         <li class="sidebar-item">
          <a href="{% url 'history' %}"><i class="material-icons-outlined"> history </i></a>
        </li>
        <li class="sidebar-item">
          <a href="{% url 'sell_coin' %}"><i class="material-icons-outlined"> sell </i></a>
        </li>
        <li class="sidebar-item">
          <a href="{% url 'buy_coin' %}"><i class="material-icons-outlined"> storefront </i></a>
        </li>
        <li class="sidebar-item">
          <a href="{% url 'account' %}"><i class="material-icons-outlined"> account_circle </i></a>
        </li>
        <li class="sidebar-item">
          <a href="{% url 'logout' %}"><i class="material-icons-outlined"> logout </i></a>
        </li>
         
       </ul>
    </div>
</section>